<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.sonatype.org/maven/DependencyDsl" 
       class = "org.sonatype.maven.dependencyDsl.DependencyDslPackage"
       genModel = "org/sonatype/maven/DependencyDsl.genmodel" /> 
	
  </extension>




</plugin>
